.editpostoptions {
  right:0;
  top:0
}
.editpostoptions-title {
  border: 1px solid whitesmoke;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 5px;
  padding: 0.3rem;
}
.editpostoptions-title:hover {
  cursor: pointer;
}
.editpostoptions > ul {
  padding: 1.4rem;
}
.hook {
  opacity: 0;
  border-radius: 10px;
  margin-top: 0;
  visibility: hidden;
  position: absolute;
}
.cardheader{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.clickhook {
  display: block;
  position: relative;
  left: -20px;
  padding: .3rem;
  border-radius: 5px;
  margin-bottom: 0.55rem;
  box-sizing: border-box;
  opacity: 0;
  width: 8rem;
  box-sizing: border-box;
  box-shadow: 2px 3px  4px 1px lightgray;
  background-color: whitesmoke;
  z-index: 2;
}
.clickhook:hover {
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: lightgrey;
}
@media (max-width:800px){
  .cardheader{
    flex-direction: column;
  }
  .cardheader > *{
    margin-top: .4rem;
  }
}

.animateclass {
  animation: appear .6s ease-in-out forwards;
  animation-play-state: running;
  transition: all .6s ease-in-out;
}
.animateoff {
  animation: appearoff .6s ease-in-out forwards;
  animation-play-state: running;
  transition: all .6s ease-in-out;
}
@keyframes appear {
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes appearoff {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
