.editpostoptions {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.editpostoptions-title {
  border: 1px solid whitesmoke;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 5px;
  padding: 0.3rem;
}
.editpostoptions-title:hover {
  cursor: pointer;
}
.editpostoptions > ul {
  padding: 1.4rem;
}
.hook {
  opacity: 0;
  border-radius: 10px;
  margin-top: 0;
  visibility: hidden;
}
.clickhook {
  display: block;
  padding:.3rem;
  border-radius: 5px;
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  opacity: 0;
  background-color: whitesmoke;
}
.clickhook:hover {
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: lightgrey;
}

.animateclass {
  animation: appear .6s ease-in-out forwards;
  animation-play-state: running;
  transition: all .6s ease-in-out;
}
.animateoff {
  animation: appearoff .6s ease-in-out forwards;
  animation-play-state: running;
  transition: all .6s ease-in-out;
}
@keyframes appear {
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes appearoff {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
