.owncard {
  padding: 0.5rem;
  margin: 1.2rem;
}
.owncard-title {
  position: relative;
  line-height: 2rem;
  padding: 0.3rem;
  font-size: 1.8rem;
}
.owncard-title::before {
  top: 0;
  content: "Title: ";
  font-size: 1.5rem;
}
.owncard-content {
  padding: 0.5rem;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-size: 1.18rem;
}
.owncard-createdate {
  position: absolute;
  top: 0;
  right: 0.6rem;
  font-size: 1.1rem;
  color: slategrey;
}
@media (max-width: 500px) {
  .owncard-createdate {
    position: sticky;
  }
}
.owncard-meta > *{
    padding:.5rem;
    color: slategrey;
}
